:root {
	--white: #fff;
	--black: #000;
	--red: #e95949;
	--blue: #3498db;
	--gray-1: rgba(94, 104, 121, 0.188);
	--gray-2: #ffffff9c;
	--gray-3: #404040;
	--gray-4: #303030;
	--body-color: #f1f1f1;
	--github-fill: #151513;
	--github-color: var(--body-color);
	--github-focus: var(--red);
	--clock-shadow: -3px -3px 7px var(--gray-2), 3px 4px 10px 3px var(--gray-1);
	--clock-before-shadow: inset -3px -3px 7px var(--white), inset 3px 3px 7px var(--gray-1);
	--clock-after-shadow: -1px -1px 5px var(--white), 1px 1px 3px var(--gray-1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 88.5%;
}

body {
	display: grid;
	place-items: center;
	text-align: center;
}

body,
.clock,
.clock:before,
.clock:after {
	background: var(--body-color);
}

.clock,
.clock:before,
.clock:after,
.clock .center-nut,
.clock .center-nut2 {
	border-radius: 50%;
}

.clock {
	position: relative;
	align-items: center;
	height: 270px;
	width: 270px;
	box-shadow: var(--clock-shadow);
}

.clock:before,
.clock:after,
.sec:before,
.sec:after,
.min:before,
.min:after,
.hr:before,
.hr:after {
	content: "";
}

.clock:before {
	height: 220px;
	width: 220px;
	box-shadow: var(--clock-before-shadow);
}

.clock:after {
	height: 120px;
	width: 120px;
	box-shadow: var(--clock-after-shadow);
}

.clock .center-nut {
	height: 15px;
	width: 15px;
	background: var(--gray-3);
	z-index: 2;
}

.sec:before,
.sec:after,
.clock .center-nut2,
.indicators div:nth-child(3),
.indicators div:nth-child(6),
.indicators div:nth-child(9),
.indicators div:nth-child(12) {
	background: var(--blue);
}

.clock .center-nut2 {
	height: 9px;
	width: 9px;
	z-index: 15;
}

.indicators div {
	width: 2px;
	height: 5px;
	background: var(--gray-3);
}

.indicators div:nth-child(1) {
	transform: rotate(30deg) translateY(-100px);
}

.indicators div:nth-child(2) {
	transform: rotate(60deg) translateY(-100px);
}

.indicators div:nth-child(3) {
	transform: rotate(90deg) translateY(-100px);
}

.indicators div:nth-child(4) {
	transform: rotate(120deg) translateY(-100px);
}

.indicators div:nth-child(5) {
	transform: rotate(150deg) translateY(-100px);
}

.indicators div:nth-child(6) {
	transform: rotate(180deg) translateY(-100px);
}

.indicators div:nth-child(7) {
	transform: rotate(210deg) translateY(-100px);
}

.indicators div:nth-child(8) {
	transform: rotate(240deg) translateY(-100px);
}

.indicators div:nth-child(9) {
	transform: rotate(270deg) translateY(-100px);
}

.indicators div:nth-child(10) {
	transform: rotate(300deg) translateY(-100px);
}

.indicators div:nth-child(11) {
	transform: rotate(330deg) translateY(-100px);
}

.indicators div:nth-child(12) {
	transform: rotate(360deg) translateY(-100px);
}

.sec,
.min,
.hr,
.sec-hand,
.min-hand,
.hr-hand,
.sec:before,
.sec:after,
.min:before,
.min:after,
.hr:before,
.hr:after,
.clock:before,
.clock:after,
.clock .center-nut,
.clock .center-nut2,
.indicators div {
	position: absolute;
}

.sec-hand,
.sec {
	height: 180px;
	width: 180px;
	z-index: 6;
}

.min-hand,
.min {
	height: 140px;
	width: 140px;
	z-index: 5;
}

.hr-hand,
.hr {
	height: 110px;
	width: 110px;
	z-index: 4;
}

.clock,
.sec,
.min,
.hr {
	display: flex;
	justify-content: center;
}

.sec:before {
	height: 110px;
	width: 3px;
}

.sec:after {
	height: 35px;
	width: 7px;
	top: 105px;
	border-radius: 5px;
}

.min:before,
.hr:before {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

.min:after,
.hr:after {
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
}

.min:before {
	width: 1px;
	top: -15px;
	border-bottom: 60px solid var(--red);
}

.min:after {
	width: 3px;
	top: 40px;
	border-top: 30px solid var(--red);
}

.hr:before {
	width: 1px;
	border-bottom: 35px solid var(--gray-4);
}

.hr:after {
	width: 3px;
	top: 34px;
	border-top: 25px solid var(--gray-4);
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:hover .octo-arm,
.github-corner:focus .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
